[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.5.1"
pandas = "==1.5.1"
pyarrow = "==10.0.0"
pyqt5 = "==5.15.7"

[dev-packages]

[requires]
python_version = "3.10"
